﻿@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>G6 Library - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/admin-template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/admin-template/css.css" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="~/Content/admin-template/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this page -->
    <link href="~/Content/admin-template/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    @{ 
        int usertypeid = 0;
        if(Session["UserTypeID"] != null)
        {
            usertypeid = Convert.ToInt32(Convert.ToString(Session["UserTypeID"]));
        }
    }
    <div id="wrapper">

        <!-- Sidebar -->
        @if (usertypeid == 1)
        {
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    
                </div>
                <div class="sidebar-brand-text mx-3">G6 Library</div>
            </a>


            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Book's
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBook" aria-expanded="true" aria-controls="collapseBook">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Book Type</span>
                </a>
                <div id="collapseBook" class="collapse" aria-labelledby="headingBook" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Book Types:</h6>
                        @Html.ActionLink("New Book Types", "Create", "BookTypeTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Book Types List:</h6>
                        @Html.ActionLink("Book Types", "Index", "BookTypeTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookReg" aria-expanded="true" aria-controls="collapseBookReg">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Book Registration</span>
                </a>
                <div id="collapseBookReg" class="collapse" aria-labelledby="headingBookReg" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Registration:</h6>
                        @Html.ActionLink("New Book", "Create", "BookTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">All Book:</h6>
                        @Html.ActionLink("All Book", "Index", "BookTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookIssue" aria-expanded="true" aria-controls="collapseBookIssue">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Book Issue</span>
                </a>
                <div id="collapseBookIssue" class="collapse" aria-labelledby="headingBookIssue" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Issue Book</h6>
                        @Html.ActionLink("Issue Book", "Create", "IssueBookTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">All Issue</h6>
                        @Html.ActionLink("All Issue Book", "IssueBooks", "IssueBookTables", null, new { @class = "collapse-item" })
                        <h6 class="collapse-header">Reserve Book</h6>
                        @Html.ActionLink("Reserve Book", "ReserveBooks", "IssueBookTables", null, new { @class = "collapse-item" })
                        <h6 class="collapse-header">Pending Book</h6>
                        @Html.ActionLink("Return Pending", "ReturnPendingBooks", "IssueBookTables", null, new { @class = "collapse-item" })

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookReturn" aria-expanded="true" aria-controls="collapseBookReturn">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Book Return</span>
                </a>
                <div id="collapseBookReturn" class="collapse" aria-labelledby="headingBookReturn" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Return Book History</h6>
                        @Html.ActionLink("Return Books", "Index", "ReturnBooks", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookFine" aria-expanded="true" aria-controls="collapseBookFine">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Book Fine</span>
                </a>
                <div id="collapseBookFine" class="collapse" aria-labelledby="headingBookFine" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Submit Fine</h6>
                        @Html.ActionLink("Pending Fine", "PendingFine", "BookFine", null, new { @class = "collapse-item" })
                        <h6 class="collapse-header">Book Fine History</h6>
                        @Html.ActionLink("Book Fine's History", "FineHistory", "BookFine", null, new { @class = "collapse-item" })

                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Purchase Books
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePur" aria-expanded="true" aria-controls="collapsePur">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Purchasing</span>
                </a>
                <div id="collapsePur" class="collapse" aria-labelledby="headingPur" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Supplier:</h6>
                        @Html.ActionLink("All Supplier", "Index", "SupplierTables", null, new { @class = "collapse-item" })
                        <h6 class="collapse-header">New Purchase:</h6>
                        @Html.ActionLink("New Purchase", "NewPurchase", "Purchase", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Purchase List:</h6>
                        @Html.ActionLink("All Purchase", "AllPurchase", "Purchase", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Employee's
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Registration</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Registration:</h6>
                        @Html.ActionLink("New Employee", "Create", "EmployeeTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">List:</h6>
                        @Html.ActionLink("All Employee", "Index", "EmployeeTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Settings
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Confguration</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Users Configuration:</h6>
                        @Html.ActionLink("User Types", "Index", "UserTypeTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("User Registration", "Index", "UserTables", null, new { @class = "collapse-item" })
                    </div>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBC" aria-expanded="true" aria-controls="collapseBC">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Basic Configuration</span>
                </a>
                <div id="collapseBC" class="collapse" aria-labelledby="headingBC" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Designation:</h6>
                        @Html.ActionLink("New Designation", "Create", "DesignationTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("All Designation", "Index", "DesignationTables", null, new { @class = "collapse-item" })
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Department:</h6>
                        @Html.ActionLink("New Department", "Create", "DepartmentTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("All Department", "Index", "DepartmentTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        }
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <label class="form-control border-0 small" style="font-size:30px; font-style:oblique; align-self:center;">G6 Library</label>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Html.ActionLink("Logout", "Logout", "Home")</span>
                            <!-- Dropdown - User Information -->
                            
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
                    </div>
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; G6 Library Management System</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/admin-template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/admin-template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/admin-template/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/admin-template/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/admin-template/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/admin-template/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/admin-template/js/demo/chart-pie-demo.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/admin-template/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin-template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/admin-template/js/demo/datatables-demo.js"></script>

</body>

</html>
