﻿@model IEnumerable<DatabaseLayer.UserTypeTable>

@{
    ViewBag.Title = "All Users > Dashboard";
}

@Html.ActionLink("New User Type", "Create", null, new { @class = "btn btn-success" })
<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Types</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserType)
                            </td>
                            <td class="btn-group-justified">
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserTypeID }, new { @class="btn btn-primary"}) 
                                @Html.ActionLink("Details", "Details", new { id = item.UserTypeID }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
