﻿@model IEnumerable<DatabaseLayer.BookTypeTable>

@{
    ViewBag.Title = "Book Categories";
}

<p>
    @Html.ActionLink("Add Book Category", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Book Type
        </th>
        <th>
            User
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookTypeID })
        </td>
    </tr>
}

</table>
