﻿@model IEnumerable<DatabaseLayer.BookTable>

@{
    ViewBag.Title = "All Books";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Issue Books</h6>
        <h3 class="text-success">@ViewBag.Message</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Book Title
                        </th>
                        <th>
                            Short Description
                        </th>
                        <th>
                            Book Name
                        </th>
                        <th>
                            Edition
                        </th>
                        <th>
                            Book Type
                        </th>

                        <th>Actionth>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookName)
                                (@Html.DisplayFor(modelItem => item.Author))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Edition)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTypeTable.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Reserve Book", "ReserveBook", new { id = item.BookID }, new { @class = "btn btn-success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>