﻿@model IEnumerable<DatabaseLayer.PurTemDetailsTable>

@{
    ViewBag.Title = "New Purchase";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm("AddItem", "Purchase", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Book Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Select Book</label>
            <div class="col-md-6">
                <select class="form-control" id="BID" name="BID" required></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Quantity</label>
            <div class="col-md-6">
                <input type="number" class="form-control" id="Qty" name="Qty" placeholder="Enter Quantity" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Unit Price</label>
            <div class="col-md-6">
                <input type="number" class="form-control" id="Price" step=".01" name="Price" placeholder="Enter Unit Price" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Add Item" />
            </div>
        </div>
    </div>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Purchase Item List</h6>
        <h3 class="text-danger">@ViewBag.Message</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Book
                        </th>
                        <th>
                            Purchase Qty
                        </th>
                        <th>
                            Unit Price
                        </th>
                        <th>
                            Item Cost
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTable.BookName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @(string.Format("{0:0.000}", Math.Truncate(item.Qty * item.UnitPrice * 10)/10))
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.PurTemID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="background-color: black; color: white">Total Amount</td>
                        <td style="background-color: black; color: white">
                            @(string.Format("{0:0.000}", Math.Truncate(ViewBag.TotalAmount * 10)/10)) VND
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div style="margin-top: 20px; float:right">
                @Html.ActionLink("Next", "SelectSupplier", null, new { @class = "btn btn-success", style = "padding:20px" })
                @Html.ActionLink("Cancel", "CancelPurchase", null, new { @class = "btn btn-danger", style = "padding:20px" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetBooks", "Purchase")',
            type: 'GET',
            data: '{}',
            success: function (res) {
                console.log("aaaaa: ", res.data);
                for (var i = 0; i < res.data.length; i++) {
                    $('#BID').append("<option value=" + res.data[i].BookID + ">" + res.data[i].BookName + "</option>");
                }
            },
            error: function () {

            }
        });
    });
</script>