﻿@model IEnumerable<DatabaseLayer.SupplierTable>

@{
    ViewBag.Title = "SelectSupplier";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm("PurchaseConfirm", "Purchase", FormMethod.Post, null))
{
    <div class="card">
        <div class="card card-flat">
            <div class="card-header">
                <input type="submit" style="float:right" class="btn btn-success" value="Finilize Purchase" />
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="dataTable">
                        <thead style="background-color: lightgray">
                            <tr>
                                <th>Supplier</th>
                                <th>Contact No</th>
                                <th>Suplier Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplierName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <input type="checkbox" name="name @item.SupplierID" class="chb" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".chb").change(function (event) {
            $(".chb").prop('checked', false);
            $(this).prop('checked', true);
        });
    });
</script>
